// Base
@use 'reset';
@use 'typography';

// Abstracts
@use "../abstracts/variables";
@use "../abstracts/mixins";

body {
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
}

.menu-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 100%;

    .menu-nav {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2rem 1rem;
        max-height: 5rem;

        @include mixins.tablet-up {
            padding: 4rem 0 2rem 4rem;
        }

        .burger-menu {
            position: absolute;
            left: 1rem;
            cursor: pointer;

            @include mixins.mobile-up {
                display: none;
            }
        }

        .close-menu {
            z-index: 5;
            position: absolute;
            left: 1rem;
            cursor: pointer;

            @include mixins.tablet-up {
                display: none;
            }
        }

        .logo {
            margin-top: 0.25rem;
        }

        .menu-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2rem;
            list-style: none;
            width: 100%;
            gap: 2rem;

            @include mixins.mobile-down {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                justify-content: flex-end;
                margin-left: 0;

                &.active {
                    opacity: 1;
                    visibility: visible;
                    position: relative;
                }
            }

            @include mixins.tablet-up {
                margin-left: 3rem;
                justify-content: flex-start;
            }
            
            li {

                &:last-child{
                    margin-right: 0.5rem;
                }

                a {
                    text-decoration: none;
                    color: var(--Black);
                    font-weight: 700;

                    @include mixins.mobile-up {
                        color: var(--White);
                    }
                }
            }
        }
    }
}

.main-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35vh auto 30vh auto 30vh;
    grid-template-areas: 
        "hero"
        "discover"
        "photo-divider"
        "about"
        "footer-image";

        @include mixins.desktop-up {
            grid-template-areas: none;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 75vh 25vh;
        }

        @include mixins.big-screen-up {
            grid-template-columns: repeat(11, 1fr);
            grid-template-rows: 65vh 35vh;
        }

    .image-slider {
        grid-area: hero;
        position: relative;
        width: 100%;
        height: 100%;

        @include mixins.desktop-up {
            grid-row: 1/2;
            grid-column: 1/6;
        }

        @include mixins.big-screen-up {
            grid-row: 1/2;
            grid-column: 1/8;
        }

        .slide-image {
            position: absolute;
            top: 0;
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-out;

            &.active {
                opacity: 1;
                transition: opacity 0.5s ease-in;
            }
        }
    }

    .slider-button-container {
        grid-area: hero;
        display: flex;
        flex-direction: row;
        gap: 0;
        place-self: end;
        
        @include mixins.desktop-up {
            grid-row: 1/2;
            grid-column: 6/7;
            place-self: end;
            justify-self: start;
            width: 100%;
        }

        @include mixins.big-screen-up {
            grid-row: 1/2;
            grid-column: 8/9;
        }

        .slider-button {
            z-index: 4;
            padding: 0.5rem;
            border: 0;
            color: var(--Dark-Gray);
            background-color: var(--Black);
            cursor: pointer;

            @include mixins.desktop-up {
                width: 100%;
            }
        }
    }
}

.discover-section {
    position: relative;
    grid-area: discover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 35vh;
    
    @include mixins.desktop-up {
        grid-row: 1/2;
        grid-column: 6/9;
        padding: 5rem;
    }

    @include mixins.big-screen-up {
        grid-row: 1/2;
        grid-column: 8/12;
    }

    .slide {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        padding: 0 2rem;
        max-width: 24rem;
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-out;

        &.active {
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }

        @include mixins.mobile-up {
            max-width: 40rem;
        }

        @include mixins.desktop-up {
            max-width: 32rem;
        }

        .shop-now-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: fit-content;
            padding: 1rem 0;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.785rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: letter-spacing 0.8s ease;

            &:hover {
                letter-spacing: 1.25rem;
            }
        }
    }
}

.photo-divider {
    grid-area: photo-divider;
    display: flex;
    width: 100%;
    height: 100%;

    @include mixins.desktop-up {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    @include mixins.big-screen-up {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    .image-about-dark {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    width: 100%;

    @include mixins.mobile-up {
        padding: 5rem 2rem;
    }
    
    @include mixins.tablet-up {
        padding: 5rem 2rem;
    }

    @include mixins.desktop-up {
        grid-row: 2/3;
        grid-column: 3/7;
    }

    @include mixins.big-screen-up {
        grid-row: 2/3;
        grid-column: 4/9;
    }

    .about-content {
        grid-area: about;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
    
        @include mixins.mobile-up {
            padding: 5rem 0;
        }

        @include mixins.tablet-up {
            max-width: 40rem;
        }
    
        @include mixins.desktop-up {
            grid-column: 3/7;
        }
    
        @include mixins.big-screen-up {
            grid-column: 4/9;
        }
    }
}

.footer-image {
    grid-area: footer-image;
    display: flex;
    width: 100%;
    height: 100%;

    @include mixins.desktop-up {
        grid-row: 2/3;
        grid-column: 7/9;
    }

    @include mixins.big-screen-up {
        grid-row: 2/3;
        grid-column: 9/12;
    }

    .image-footer {
        grid-area: footer-image;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;

        @include mixins.desktop-up {
            grid-row: 2/3;
            grid-column: 7/9;
        }

        img {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }    
}