:root {
--Dark-Gray: #a1a1a1;
--Black: #000000;
--White: #ffffff;
--Very-Dark-Gray: #454545;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.active {
    opacity: 1;
    visibility: visible;
    position: relative;

    &.menu-header {
        z-index: 3;
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #00000085;
    }

    &.menu-nav {
        background-color: var(--White);
        z-index: 5;
    }
}